<div class="container">

  <!-- Introduction-->
  <section class="center">
    <h1>Welcome!</h1>
    <img src="/img/headshot.jpg" alt="headshot" class="head-image">
    <p>
      Hi, I'm Cyrus! I like building things with software and learning new stuff. I'm particularly interested in web backend architecture, databases, and optimizing performance. If I'm not programming I'm probably practicing Brazillian Jiu Jitsu or reading about aquatic ecology.
    </p>
  </section>

  {{!-- <hr>
  <!-- Gallery Block-->
  <section class="gallery">
    <h1 class="center">Gallery</h1>
    <div class="row">
      <a href="#"><img src="img/re.png" class="grid-2"></a>
      <a href="#"><img src="img/re.png" class="grid-2"></a>
      <a href="#"><img src="img/re.png" class="grid-2"></a>
      <a href="#"><img src="img/re.png" class="grid-2"></a>
      <a href="#"><img src="img/re.png" class="grid-2"></a>
      <a href="#"><img src="img/re.png" class="grid-2"></a>
    </div>
  </section>

  <hr>

  <!-- Testimonials-->
  <section class="testimonial">
    <div class="row">
      <div class="grid-2">
        <img src="img/re.png">
        <h2>Their Name</h2>
        <p>You can use this as a place to put recommendations, accolades and testimonials</p>
      </div>

      <div class="grid-2">
        <img src="img/re.png">
        <h2>Their Name</h2>
        <p>You can use this as a place to put recommendations, accolades and testimonials</p>
      </div>

      <div class="grid-2">
        <img src="img/re.png">
        <h2>Their Name</h2>
        <p>You can use this as a place to put recommendations, accolades and testimonials</p>
      </div>
    </div>
  </section>
</div> <!-- End container--> --}}

<!-- Spotlight -->
<section class="spotlight">
  <div class="container">
    <div class="row">
      <div class="grid-3">
        <img src="img/vidjot.png">
      </div>
      <div class="grid-3">
        <h1>Project Spotlight: VidJot</h1>
        <p>VidJot allows content creators to have a centralized place to keep their video ideas. I developed the app using Node.js/Express and MongoDB as a part of a Udemy course.</p>
        <a href="/vidjot">View Project</a>
      </div>
    </div>
  </div>
</section>


<!-- New container-->
<div class="container">

  <section class="education">
    <h2>B.S. Computer Science from San Jose State University</h2>
  </section>

  <hr>

  <!--Experience Tables-->
  <section class="experience">
    <div class="row">
      <div class="grid-2">
        <h2>Accuray</h2>
        <p>Software Engineer Intern</p>
        <p>Jun. 2018 - Aug. 2018</p>
      </div>
      <div class="grid-4">
        <ul>
          <li>Created UI components with Qt for C++ that increased user productivity and expanded product functionality</li>
          <li>Implemented interactive UI components with OpenGL shaders that decrease rendering time</li>
          <li>Came up to speed rapidly and was able to contribute to the product within 2 weeks</li>
          <li>Excelled in a fast pace environment that required independence and self motivation</li>
        </ul>
      </div>
    </div>
  </section>

  <hr>

  <section>
    <!--List of skills-->
    <div class="row">
      <div class="grid-2">
        <h1>Skills</h1>
        <ul>
          <li>Algorithms & Data Structures</li>
          <li>Python</li>
          <li>Javascript</li>
          <li>C++</li>
          <li>Node.js/Express</li>
          <li>MongoDB</li>
          <li>Git</li>
        </ul>
      </div>

      <div class="grid-4">
        <h1>In Conclusion</h1>
        <p>
          I have been both leader and team member on many software projects throughout my career and I'm eager to take on the next challenge. If you have a problem that matches my skill set, please do not hesitate to reach out. I respond promptly to email at javan.cyrus@gmail.com
        </p>
      </div>
    </div>
  </section>

</div><!-- End Container -->