<h1>Welcome</h1>
<p>Welcome to StoryBooks</p>
<p>Write down the best and worst stories of your life, keep them private to yourself as your own personal diary or share them with the world</p>
<a class="btn red darken-1" href="/storybooks/auth/google"><i class="fa ga-google left"></i> Login With Google</a>