<h1>Welcome</h1>
<p>Welcome to StoryBooks</p>
<p>Write down the best and worst stories of your life, keep them private to yourself as your own personal diary or share them with the world</p>
{{#if user}}
{{else}}
<a class="btn red darken-1" href="/storybooks/auth/google"><i class="material-icons left">vpn_key</i> Login With Google</a>
{{/if}}