<nav class="navbar-fixed">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" data-target="main-menu" class="sidenav-trigger show-on-large left"><i class="material-icons">menu</i></a>
      <a href="/storybooks/stories" class="brand-logo center">StoryBooks</a>

      <!-- RIGHT NAV-->
      <ul class="right hide-on-med-and-down">
        {{#if user}}
        <li><a href="/storybooks/dashboard">Welcome, {{user.firstName}}</a></li>
        <li><a href="/storybooks/auth/logout"><i class="material-icons left">exit_to_app</i> Logout</a></li>
        {{else}}
        <li><a href="/storybooks/stories"><i class="material-icons left">public</i> Public Stories</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
<ul class="sidenav" id="main-menu">

  {{#if user}}

  {{else}}
  <li>
    <a class="btn red darken-1" href="/storybooks/auth/google"><i class="material-icons left">vpn_key</i>Login
      With Google</a>
  </li>
  {{/if}}
  <li><a href="/storybooks/stories"><i class="material-icons left ">public</i> Public Stories</a></li>
  <li class="divider"></li>
  {{#if user}}
  <li><a href="/storybooks/dashboard"><i class="material-icons left">settings</i> Dashboard</a></li>
  <li class="divider"></li>
  <li><a href="/storybooks/stories/my"><i class="material-icons left">library_books</i> My Stories</a></li>
  <li class="divider"></li>
  <li><a href="/storybooks/auth/logout"><i class="material-icons left">exit_to_app</i> Logout</a></li>
  {{/if}}
</ul>