<!-- Gallery Block-->
  <section class="gallery">
    <h1 class="center">Projects</h1>
    <div class="row">
      <a href="/vidjot"><img src="img/vidjot.png" class="grid-3"></a>
    </div>
  </section>